# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=churn_db
DATABASE_URL=mysql+pymysql://root:yourpassword@localhost:3306/churn_db

# Kafka Configuration
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=user-events
KAFKA_GROUP_ID=churn-consumer-group

# Flask API Configuration
FLASK_API_URL=http://localhost:5000
API_TIMEOUT=10

# Logging Configuration
LOG_LEVEL=INFO
