# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=churn_db
DATABASE_URL=mysql://root:yourpassword@localhost:3306/churn_db

# Prisma Configuration
PRISMA_GENERATE_DATAPROXY=false
